language = "java10"
run = "javac -cp bin -d bin src/oop/Spotify/Song.java; javac -cp bin -d bin src/oop/Spotify/Episode.java; javac -cp bin -d bin src/oop/Spotify/Spotify.java; javac -cp bin -d bin src/oop/Spotify/Playlist.java; java -cp bin oop.Spotify.Spotify"